#snackbar {
  left: 50%;
  transform: translateX(-50%);
  visibility: hidden;
  position: fixed;
  margin-top: 2em;
}

#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {margin-top: 0; opacity: 0;} 
  to {margin-top: 2em; opacity: 1;}
}

@keyframes fadein {
  from {margin-top: 0; opacity: 0;}
  to {margin-top: 2em; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {margin-top: 2em; opacity: 1;} 
  to {margin-top: 0; opacity: 0;}
}

@keyframes fadeout {
  from {margin-top: 2em; opacity: 1;}
  to {margin-top: 0; opacity: 0;}
}
