#tvp-menu-container {
  display: flex;
  justify-content: row-reverse;
  width: 100vw;
  height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
}

#tvp-menu {
  width: 30vw;
  height: 100vh;
  background: #151924;
  display: flex;
  border-left: 0.5px solid #2a2e39;
  margin-left: auto;
}
