#tvp-menu-container {
  display: flex;
  justify-content: row-reverse;
  width: 100vw;
  height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
}

#tvp-menu {
  width: 400px;
  height: 100vh;
  background: #151924;
  display: flex;
  border-left: 0.5px solid #2a2e39;
  margin-left: auto;
  z-index: 50;
  pointer-events: auto;
}

#tvp-menu div {
  height: 100%;
}

#tvp-resize-bar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
}

#tvp-resize-bar-container:hover {
  cursor: col-resize;
}

#tvp-menu-content {
  display: flex;
  justify-content: center;
  width: 100%;
}

#tvp-menu-content > div > div {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

#tvp-menu-content > div > div > div {
  display: flex;
  width: 100%;
}

#tvp-menu-content > * {
  max-width: 50vw;
}

#tvp-resize-bar {
  background: #9598a1;
  width: 4px;
  height: 8em !important;
  border-radius: 8em;
}

#tvp-menu-content > h1 {
  padding: 1em;
}

#tvp-menu-content {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}

.tvp-menu-category {
  width: 85%;
  height: auto !important;
  text-align: left;
  padding: 0.4em;
}

.tvp-menu-category > h2:hover {
  background: red;
  cursor: pointer;
}

hr {
  width: 100%;
  color: #2a2e39;
}

.tvp-hotkey-input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 34px;
  height: 34px;
  border: 1px solid #434651;
  border-radius: 6px;
  box-shadow: 0 2px 0 #434651;
}

.tvp-category-content {
  display: flex;
  background: blue;
}

.tvp-category-content > div {
  height: auto !important;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tvp-category-content > div > div > p {
  display: inline;
}
