$fontSize: 16px;
$fontFamily: Arial, sans-serif;
$textColor: #4e4b66;
$backgroundColor: #000000;

/* Boilerplate */
//:root {
//  font-size: $fontSize;
//  box-sizing: border-box;
//  font-family: $fontFamily;
//  color: $textColor;
//}
//
//*,
//*::before,
//*::after {
//  box-sizing: initial;
//  margin: 0;
//  padding: 0;
//}
//
//li {
//  list-style-type: none;
//}
//
//button {
//  border: none;
//
//  &:hover {
//    cursor: pointer;
//  }
//}


#tvp-menu {
  display: flex;
  position: relative;
  width: 40vw;
  height: 100vh;
  right: 0;
  top: 0;
  z-index: 99999;
  position: fixed;
  background: $backgroundColor;
  transition: right 0.3s ease-out;

  section {
    height: 100vh;
    width: clamp(250px, 80%, 500px);
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    div {
      width: 100%;

      h1 {
        color: white;
      }

      input {
        border: 1px solid #787b86;
        border-radius: 4px;
        height: 1.6rem;
        margin-top: 1rem;
        width: 100%;
        background: none;
      }
    }
  }

  
  .accordion {
    width: 100%;

    label {
      width: 100%;
      display: inline-block;
      padding: 1.4rem 0rem;
      border-bottom: 1px solid #787b86;
      margin-bottom: 1rem;
      position: relative;

      svg {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        transition: all 0.2s ease-out;
      }

      &:hover {
        cursor: pointer;
      }
    }

    .tab {
      input {
        opacity: 0;
        z-index: -1;

        &:checked ~ div {
          max-height: initial;
        }

        &:checked ~ h2 label svg {
          transform: rotate(180deg) translateY(50%);
        }
      }
    
      div {
        max-height: 0;
        overflow: hidden;
      }
    }
  }



  #handle-container {
    height: 100vh;
    width: 35px;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 1px solid #363a45;

    &:hover {
      cursor: ew-resize;
    }

    &:hover #handle {
      background: #9598A1;
    }
  }

  #handle {
    background: #787b86;
    height: 80px;
    width: 4px;
  }
}
