$fontSize: 16px;
$fontFamily: Arial, sans-serif;
$textColor: #4e4b66;
$backgroundColor: #000000;

/* Boilerplate */
//:root {
//  font-size: $fontSize;
//  box-sizing: border-box;
//  font-family: $fontFamily;
//  color: $textColor;
//}
//
//*,
//*::before,
//*::after {
//  box-sizing: initial;
//  margin: 0;
//  padding: 0;
//}
//
//li {
//  list-style-type: none;
//}
//
//button {
//  border: none;
//
//  &:hover {
//    cursor: pointer;
//  }
//}


#tvp-menu {
  display: flex;
  position: relative;
  width: 40vw;
  height: 100vh;
  right: 0;
  top: 0;
  z-index: 99999;
  position: fixed;
  background: $backgroundColor;

  section {
    height: 100vh;
    width: clamp(250px, 80%, 500px);
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
      text-align: center;
    }
  }

  
  .accordion {
    width: 100%;

    label {
      width: 100%;
      display: inline-block;
      padding: 1.4rem 0rem;

      &:hover {
        cursor: pointer;
      }
    }

    .tab {
      input {
        opacity: 0;
        z-index: -1;

        &:checked ~ div {
          max-height: initial;
        }
      }
    
      div {
        max-height: 0;
        overflow: hidden;
      }
    }
  }



  #handle-container {
    height: 100vh;
    width: 20px;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      cursor: ew-resize;
    }
  }

  #handle {
    background: white;
    height: 80px;
    width: 4px;
  }
}
