@use 'variables';

.contextMenu {
  position: absolute;
  background: black;
  border: 1px solid variables.$borderColor;
  z-index: 99999;
  padding: 0.4rem 0;
  border-radius: 4px;

  p:hover {
    cursor: pointer;
    background: variables.$lightGrey;
  }

  // Dark mode
  &:not(.tvp-light) {
    p:hover {
      cursor: pointer;
      background: variables.$darkGrey;
    }
  }

  p {
    padding: 0.4rem;
  }
}

.auto-timeframe-colors-context-menu {
  display: flex;
  flex-direction: column;
  padding: 0.2rem 1rem;

  div {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .color-square {
    width: 1rem;
    aspect-ratio: 1;
  }
}

.color-picker-context-menu {
  display: flex;
  flex-wrap: wrap;
  padding: 0.2rem 1rem;
  width: (1rem + 0.2rem * 2) * 10;

  .color-square {
    width: 1rem;
    margin: 0.2rem;
    aspect-ratio: 1;
  }
}
