@use 'variables';

#tvp-snackbar {
  color: white;
  background: variables.$tvBlue;
  padding: 1rem 2rem;
  border-radius: 8px;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  visibility: hidden;
  top: 0;
  margin-top: 2em;
  z-index: 1000;
}

#tvp-snackbar.show {
  visibility: visible;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@keyframes fadein {
  from {margin-top: 0; opacity: 0;}
  to {margin-top: 2em; opacity: 1;}
}

@keyframes fadeout {
  from {margin-top: 2em; opacity: 1;}
  to {margin-top: 0; opacity: 0;}
}


